body {
  background: white;
  text-align: center;
}

input {
  color: #458bb8;
  background-color: whitesmoke;
  opacity: 0.8;
}

.conditions-content {
  color: #458bb8;
  font-family: "Questrial", sans-serif;
  opacity: 1;
}

.p {
  display: inline-block;
  margin: 0px auto;
  text-transform: uppercase;
  text-decoration: lightskyblue;
  text-align: center;
}

h6 {
  text-transform: uppercase;
  text-align: left;
}

h2 {
  color: #458bb8;
  font-family: "Questrial", sans-serif;
}

.weather-app-wrapper {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: 2px solid lightgray;
  border-radius: 15px;
  max-width: 800px;
  margin: 0px auto;
  line-height: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  display: block;
  text-align: left;
  font-size: medium;
  background-origin: border-box;
}
